[Unit]
Description=Emulate cloud server for Oregon Scientific LW301

[Service]
ExecStart=/usr/local/bin/lw301_server $daemon_args
EnvironmentFile=/etc/default/lw301_server
User=lw301_server
Restart=on-failure
Type=simple
PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
